<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.androidproject.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.example.androidproject.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.OSGiEmbedApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.androidproject" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.androidproject.GCMIntentService" ></service>
        <service android:enabled="true" android:name="com.example.androidproject.adaptation.AdaptationService"></service>

        <activity
            android:name="com.example.androidproject.schedule.ScheduleRegisterActivity"
            android:label="@string/title_activity_schedule_register" >
        </activity>
        <activity
            android:name="com.example.androidproject.participant.ParticipantListActivity"
            android:label="@string/title_activity_participant_list" >
        </activity>
        <activity
            android:name="com.example.androidproject.schedule.UpdateSchedule"
            android:label="@string/title_activity_update_schedule" >
        </activity>
        <activity
            android:name="com.example.androidproject.navermap.NaverMapActivity"
            android:label="@string/title_activity_naver_map" >
        </activity>
        <activity
            android:name="com.example.androidproject.user.UserRegisterActivity"
            android:label="@string/title_activity_user_register" >
        </activity>
    </application>

</manifest>